.frame-data-table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td{
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.4;
}

th{
  padding: 8px;
  line-height: 1.4;
}